<div class="container-fluid">
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'questions'}}Questions{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}

</div>
