<div class="container">
<ul>
  {{#each}}
    <li>{{#link-to 'question' this.id}}{{body}} <br> Posted By: {{author}}{{/link-to}}</li>
{{/each}}
</ul>

{{#link-to 'new-question' classNames="btn btn-primary"}}Add a Question{{/link-to}}

</div>
