<nav class='navbar navbar-default' role='navigation'>
  <ul class='nav navbar-nav'>
    <li>{{#link-to 'questions'}}Questions{{/link-to}}</li>
  </ul>
</nav>

<ul>
  {{#each}}
    <li>{{#link-to 'question' this.id}}{{body}}{{/link-to}}</li>
  {{/each}}
</ul>

<div class="container">
  <h1>{{#link-to 'answers'}}These are questions{{/link-to}}</h1>

  {{outlet}}
</div>
